%header.header.navigation{role: 'banner'}
  .navigation-wrapper
    %a.logo
      = image_tag "logo.png"
      = image_tag "radio.png"
    %nav{role: 'navigation'}

%p

.cards
  -Song.by_price[0..99].each_with_index do |song, index|
    = render song, index: index
