a {
  text-decoration: none;
  color: black;
}
h1, h2 {
  margin: 5px;
}
.action_text {
  padding: 12px;
  font-size: 1.2em;
}

.pricebox {
  min-height: 123px;
  display: inline-block;
  &:nth-child(1) {
    max-width: 300px;
  }
}
a.logo {
  img:nth-child(1) {
    margin-right: 24px;
  }
}
body {
  font-family: "Noto Sans";
  background-color: #014670;
}
.price {
  float: right;
  font-size: 1.4em;
}
.chg {
  font-size: .7em;
  &.up {
    color: darkgreen;
  }
  &.down {
    color: red;
  }
}
.artist {
  font-weight: normal;
  font-size: 1.1em;
  z-index: 999;
  clear: left;
}
.title {
  z-index: 999 !important;
  font-size: 1.3em;
  float: left;
  max-width: 62%;
}
.number {
  float: left;
  padding: .5em;
  font-size: 2em;
  color: orange;
  z-index: 99;
  position: absolute;
}
.chart {
  z-index: 9999999;
}
.card img {
  object-fit: cover;
}
