.header {
  align-items: center;
  display: flex;
}
.logo, .radio {
  display: inline;
  padding: 0px;
  margin: 10px;
}
.logo {
  width: 24%;
}
.logo img {
  margin: 0;
  width: 100%;
  display: inline-block;
}
.radio img {
  margin: 0;
  width: 70%;
  display: inline-block;
}
